![sslogo](https://github.com/stratascratch/stratascratch.github.io/raw/master/assets/sslogo.jpg)

# Data Manipulation with Pandas

## Installing and Using Pandas

#### Print the current version of the pandas module

## The Pandas Series Object

#### Create a pandas series containing the integers from 1 to 5 all squared e.g [1, 4, 9...

Remember: a series can be formed from a numpy array

In [ ]:
data = 
data

#### Print the index of the series

#### Print the values from the series

#### Print the third value in the series using python square-bracket notation

#### Print the last three values using python slice notation

## Create a Simple DataFrame

#### Create a DataFrame describing three pets. Have a column for their name, age, and species.

Remember: the basic syntax of a DataFrame is a python dictionary, where the key is a column name, and the value is a list representing the values of the column. If you're having trouble with syntax errors check back to the notebook, or look it up online.

In [ ]:
df = 

df

## Indexers: loc, iloc, and ix

Remember: the loc attribute is used to get values based on the index or lable, in the case below 3 is the lable of the second row. the iloc attribute is used to get values based on location in the table, in the case below 3 is 'd' becasue that is the fourth value in the series. the ix function is similar to [] notation, and allows a combination of both type, but it is less predictable

In [ ]:
data = pd.Series(['a', 'b', 'c', 'd'], index=[1, 3, 5, 7])
data

#### Print the value 'b' using the loc attribute

#### Print the value 'b' using the iloc attribute

#### Print a slice of the data containing values with an index 5 or greater

#### Use iloc to select all rows of the first column

## Data Selection in DataFrame

### DataFrame as a dictionary

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

#### Select the area pop using dictionary-style access

#### Select the area column using attribute-style access

#### Use dictionary-style access to calculate population density and assign it to a new column 'density'

### DataFrame as two-dimensional array

#### Convert the DataFrame data into an array using an attribute

#### Transpose the DataFrame data  using an attibute

#### Create a slice containing the first 4 rows and last 2 columns of data

#### Create a slice containing the rows from Florida to Illinois and the area and pop columns

#### Create a slice containing the first 2 rows and the area column

#### Use a masking operation to select rows with a density less than 100

Remember: both the loc and iloc attributes accept a boolean mask as input and boolean masks work the same for both